---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout 
  title="Il mio sito Astro"
  description="In questo blog si parla di sviluppo web, Astro e altro."
>
	<h1 class="text-5xl font-bold text-purple-600">
		Welcome to <span class="text-gradient">Astro</span>
	</h1>
	<Welcome />
</Layout>